"""Module Docstring"""
import snoop
from snoop import pp


def type_watch(source, value):
    return"type({})".format(source), type(value)


snoop.install(watch_extras=[type_watch])


@snoop
def {{FILE}}():
    """"""


if __name__ == "__main__":
    {{FILE}}()
